.section-title-wrapper {
  padding: 0.3rem 0;

  .section-title {
    font-size: 0.28rem;
    line-height: 0.4rem;
    font-weight: 600;
    color: $title-color-deep;
    padding: 0.2rem 0;
    border-bottom: 2px solid #e3e4e6;

    &.editable {
      cursor: text;
      outline: none;

      &:hover {
        background-color: #f6f7f9;
      }

      &:focus {
        background-color: #f6f7f9;
        border-bottom: 2px solid #4a9af4;
      }
    }

    &:empty:before {
      content: '请输入分部标题';
      color: #999;
    }
  }
}
